/**
   * Style for search bar
   */
.search-buttons {
    /* margin: 2rem 0; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
.search-buttons .btn {
    margin: 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: #778298;
}

.search-buttons .btn:focus {
    box-shadow: none;
}