/**
   * Style for session page
   */
.session-modal {
  background-color: #081A29;
  border-style: none !important;
}

.header {
  border-bottom: 1px solid #F3F3E2 !important;
}

.close {
  color: #F3F3E2 !important;
  opacity: 1 !important;
}

.icon:active {
  color: #67d44e;
}

.form-control {
  font-size: 1.2rem !important;
  color: #F3F3E2 !important;
  background-color: #071622 !important;
}

.form-control::placeholder {
  color: #858585 !important; 
  font-style: italic !important;
}

.form-control:disabled {
  color: #858585 !important; 
}

.form-control:focus {
  box-shadow: 0 0 10px #E89BBB !important; 
  border-color: #E58BB0 !important;
}